.portfolio {
    width: 100vw;
    height: 50vh;
    margin-top: 100px;
}

.portfolio img {
    width: 100%;
    padding-right: 10px;
    object-fit: cover;
}

.portfolio h1 {
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #16c79a;
    text-transform: uppercase;
}

.portfolio h3 {
    font-size: 20px;
    font-weight: 700;
}
