.skills {
    width: 100vw;
}
.ant-card {
    padding: 10px;
    border-radius: 10px;
}

.ant-card-body {
    padding: 0;
}

.skills h1 {
    padding-bottom: 40px;
    font-size: 50px;
    font-weight: 700;
    color: #16c79a;
    text-transform: uppercase;
    text-align: center;
}

.skill-text {
    margin-left: 20px;
}

.skill-text h2 {
    font-size: 25px;
    font-weight: 700;
}

.skill-text p {
    font-size: 15px;
    font-weight: 00;
}

.html {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #ea4335;
}

.css {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #4285f4;
}

.js {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fbbc05;
}

.react {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #80ced6;
}

.php {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #3b5998;
}

.mysql {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #7b0099;
}
