.skills {
    width: 100vw;
}
.ant-card {
    padding: 10px;
    border-radius: 10px;
}

.ant-card-body {
    padding: 0;
}

.skills h1 {
    padding-bottom: 40px;
    font-size: 50px;
    font-weight: 700;
    color: #16c79a;
    text-transform: uppercase;
    text-align: center;
}

.skill-text {
    margin-left: 20px;
}

.skill-text h2 {
    font-size: 25px;
    font-weight: 700;
}

.skill-text p {
    font-size: 15px;
    font-weight: 00;
}

.html {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #e34c26;
}

.css {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #264de4;
}

.js {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #f0db4f;
}

.react {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #61dafb;
}

.php {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #8993be;
}

.mysql {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #f29221;
}

.bootstrap {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #6610f2;
}

.wordpress {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #016087;
}
