.jumbotron-row {
    height: 100vh;
}

.topDrawer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    width: 70%;
    object-fit: contain;
}

.links {
    margin-top: 30px;
    text-align: center;
}

.links li {
    margin: 10px 0;
    font-size: 25px;
}

.nav_link {
    color: #16c79a;
    font-weight: 500;
}
.nav_link:hover {
    cursor: pointer;
    color: #fff;
}

.social {
    width: 100%;
    text-align: center;
}

.social h2 {
    color: #16c79a;
    text-transform: uppercase;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}
