.jumbotron-row {
    height: 100vh;
}

.topDrawer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    width: 70%;
    object-fit: contain;
}

.links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_link {
    color: #16c79a;
    font-size: x-large;
    font-weight: 500;
    margin-top: 20px;
}
.nav_link:hover {
    cursor: pointer;
    color: #fff;
}

.social {
    width: 100%;
    text-align: center;
}

.social h2 {
    color: #16c79a;
    text-transform: uppercase;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

.social-icons a:hover {
    color: #fff !important;
}
